/*************TAG SELECTORS*************/

h1{
  color: rgb(206, 67, 67);
  font-size: 50px;
}

img:hover{
  background-color: gold;
}

/************CLASS SELECTORS************/

.valorant{
  background-color: green;
}

.league{
  background-color: red;
}

.circular{
  border-radius: 100%;
}

/*************ID SELECTORS*************/

#heading{
  color:blue;
}